:root {
    // TODO: Add your variables here
    //--cue-color: white;
    //--cue-background-color: black;

    --color-primary: dodgerblue;

    --spacing-xxs: .125rem;
    --spacing-xs: .25rem;
    --spacing-s: .5rem;
    --spacing-m: 1rem;
    --spacing-l: 2rem;
    --spacing-xl: 4rem;
}
