:root {

    --color-primary: dodgerblue;
    --color-grey: #aaaaaa;
    --color-negative: red;

    $steps: 50;

    @for $i from 0 through 1000 / $steps {

        @if ($i < 500 / $steps) {
            --color-grey-#{$i * $steps}: color-mix(in srgb, #ffffff, var(--color-grey) #{$i * 10}%);
            --color-primary-#{$i * $steps}: color-mix(in srgb, #ffffff, var(--color-primary) #{$i * 10}%);
            --color-negative-#{$i * $steps}: color-mix(in srgb, #ffffff, var(--color-negative) #{$i * 10}%);
        } @else {
            --color-grey-#{$i * $steps}: color-mix(in srgb, #000000, var(--color-grey) #{($i * -1 + 1000 / $steps) * 10}%);
            --color-primary-#{$i * $steps}: color-mix(in srgb, #000000, var(--color-primary) #{($i * -1 + 1000 / $steps) * 10}%);
            --color-negative-#{$i * $steps}: color-mix(in srgb, #000000, var(--color-negative) #{($i * -1 + 1000 / $steps) * 10}%);
        }

    }

    --color-text: var(--color-grey-0);
    --color-text-negative: var(--color-negative-200);
    --color-text-light: var(--color-grey-200);
    --color-bg: var(--color-grey-1000);

    --color-panel-bg: var(--color-grey-900);

    --color-control-section-border: var(--color-grey-750);

    --color-control-group-bg: var(--color-grey-800);

    --color-control-bg: var(--color-grey-750);
    --color-control-hover: var(--color-primary-400);
    --color-control-active: var(--color-primary-500);
    --color-control-negative: var(--color-negative-600);
    --color-control-disabled: var(--color-grey-750);

    --color-input-border: var(--color-control-bg);
    --color-input-focus-border: var(--color-control-hover);
    --color-input-bg: var(--color-grey-900);

    --color-dropdown-bg: var(--color-grey-800);
    --color-dropdown-border: var(--color-grey-750);
    --color-dropdown-option-bg: var(--color-grey-850);

    --color-popover-bg: var(--color-grey-900);
    --color-popover-border: var(--color-grey-750);

    --spacing-xxs: .125rem;
    --spacing-xs: .25rem;
    --spacing-s: .5rem;
    --spacing-m: 1rem;
    --spacing-l: 2rem;
    --spacing-xl: 4rem;

    --border-radius: .375rem;

    --border-popover: 1px solid var(--color-popover-border);

    --contexify-menu-padding: var(--spacing-xs);
    --contexify-menu-radius: var(--border-radius);
    --contexify-menu-bgColor: var(--color-popover-bg);

    --contexify-itemContent-padding: var(--spacing-xxs) var(--spacing-s);
    --contexify-activeItem-radius: calc(var(--border-radius) - var(--contexify-menu-padding));
    --contexify-item-color: var(--color-text);
    --contexify-activeItem-color: var(--color-text);
    --contexify-activeItem-bgColor: var(--color-control-active);

    --animation-duration-multiplier: 1;

    @media (prefers-reduced-motion: reduce) {
        --animation-duration-multiplier: 0;
    }
}
