@forward "variables";

* {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

body {
    background: #000000;
    color: #ffffff;
    margin: 0;
    font-family: system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

button {
    font: inherit;
}

label, legend {
    padding: 0;
    font-weight: 400;
}

input, select, textarea {
    font: inherit;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
