@forward "variables";

* {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

body {
    background: #000;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: .5rem;
}

.panel {
    background: #333;
    padding: 1em;
    border-radius: .375em;
    overflow: hidden;
}

.timeline-section {
    grid-column: 1/-1;
}

.video-section {
    align-content: center;
    padding: 0;
}
