.text-controls {
    display: grid;
    grid-template-columns: 1fr 14rem;

    &__cue-list {
        position: relative;
        display: grid;
        gap: var(--spacing-m);
        margin: 0;
        border-right: 2px solid var(--color-control-section-border);
        padding: var(--spacing-m);
        list-style: none;
    }

    &__cue {
        position: relative;
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: var(--spacing-s);
        border-radius: .375rem;
        padding: var(--spacing-s);
        width: 100%;
        background-color: var(--color-control-group-bg);

        &--selected {
            outline: 2px solid var(--color-primary);
        }

        &--active {
            &::before {
                content: "";
                position: absolute;
                inset: var(--spacing-xs) auto var(--spacing-xs) var(--spacing-xxs);
                border-radius: 99rem;
                width: .25rem;
                background-color: var(--color-primary);
            }
        }
    }

    &__input {
        width: 7rem;
        text-align: right;
    }

    &__textarea {
        grid-column: 2;
        grid-row: 1/4;
        height: 8rem;
        resize: none;
    }

    &__empty {
        display: grid;
        place-items: center;
        border-radius: .375rem;
        padding: var(--spacing-s);
        background-color: var(--color-control-group-bg);
    }

    &__warning {
        position: absolute;
        left: calc(100% + var(--spacing-s));
        width: calc(14rem - 2 * var(--spacing-s));
    }
}