.timeline {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    user-select: none;

    &__controls {
        display: flex;
        justify-content: end;
        gap: var(--spacing-xs);
        padding: var(--spacing-xs);
    }
}