.presets {
    display: grid;
    gap: var(--spacing-m);

    &__select {
        --border-width: 2px;

        position: relative;
        z-index: 2;
        border: var(--border-width) solid var(--color-input-border);
        border-radius: var(--border-radius);
        background-color: var(--color-input-bg);
    }


    &__select-button {
        display: flex;
        gap: var(--spacing-s);
        justify-content: center;
        align-items: center;
        padding-inline-end: calc(var(--spacing-s) - var(--border-width));
        width: 100%;
    }

    &__select-marker {
        border-bottom: 2px solid var(--color-text);
        border-right: 2px solid var(--color-text);
        width: .5rem;
        height: .5rem;
        transform: translateY(-25%) rotate(45deg);

        &--active {
            transform: scale(-1) translateY(-25%) rotate(45deg);
        }
    }

    &__select-popover {
        position: absolute;
        top: calc(100% + var(--spacing-s));
        inset-inline: calc(var(--border-width) * -1);
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
        border-radius: var(--border-radius);
        border: 2px solid var(--color-dropdown-border);
        padding: var(--spacing-s);
        height: 70cqh;
        background-color: var(--color-dropdown-bg);
        overflow-y: auto;
    }

    &__buttons {
        align-self: end;
        display: flex;
        gap: var(--spacing-s);
        margin-block-end: var(--spacing-s);
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
        margin: 0;
        padding: 0;
    }

    &__option {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-s);
        border-radius: var(--border-radius);
        padding: var(--spacing-s);
        background-color: var(--color-dropdown-option-bg);
    }

    &__option-more-button {
        grid-column: 2;
        padding: var(--spacing-s);
        font-weight: bold;
        cursor: pointer;
    }

    &__option-more-icon {
        width: 1rem;
        height: 1rem;
        fill: currentColor;
    }

    &__option-preview {
        position: static;
        display: grid;
        place-items: center;
        border-radius: var(--border-radius);
        width: 100%;
        min-height: 3rem;
        background-color: var(--color-dropdown-option-bg);
        cursor: pointer;

        &__text {
            font-size: 5cqw;
        }
    }

    &__selected-option {
        display: grid;
        border-radius: var(--border-radius);
        padding: var(--spacing-s);
        width: 100%;
        background-color: var(--color-dropdown-option-bg);
    }
}