.global-styles {
    display: grid;
    gap: 1px;
    padding-top: 1px;
    background-color: #555555;

    &__section {
        display: grid;
        gap: var(--spacing-m);
        padding: var(--spacing-m);
        background-color: var(--color-panel-bg);
    }

    &__control-row {
        display: flex;
        gap: var(--spacing-m);
        flex-wrap: wrap;
        width: 100%
    }

    &__padding-controls {
        display: flex;
        gap: var(--spacing-s);

        & input {
            width: 100%;
        }
    }

    &__transition-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-m);
        width: 100%;
    }

    &__transition-controls {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-s);
        border-radius: var(--border-radius);
        padding: var(--spacing-m);
        background-color: var(--color-control-group-bg);
        width: max(calc(50% - var(--spacing-m) / 2), 15rem);

        & legend {
            float: left;
        }

        & label:first-of-type {
            grid-column: 1 / -1;
        }

        & input {
            width: 100%;
        }
    }

    label {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: var(--spacing-s);
    }

    .full-width {
        flex-grow: 1;
    }

    label:has([type="checkbox"], [type="radio"]) {
        flex-direction: row;
        justify-content: start;
    }

    legend {
        margin-bottom: var(--spacing-s);
    }
}