.editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto min(15rem, 50vh);
    gap: var(--spacing-s);
    padding: var(--spacing-s);
    height: 100vh;

    &__section {
        contain: size;
        background-color: #222222;
    }

    &__video {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__timeline {
        grid-column: 1/-1;
    }
}
